use strict;
use warnings;

my @argv = @ARGV;

use SPVM::Builder::Config;
my $config = SPVM::Builder::Config->new_gnu99(file => __FILE__);;

# C souce files
my @source_files = qw(
  mylib1_source1.c
  mylib1_source2.c
);

$config->add_source_files(@source_files);

$config->{_test_base_argv} = \@argv;

$config;
