use strict;
use warnings;

use SPVM::Builder::Config;
my $config = SPVM::Builder::Config->new_c99;

$config->is_resource(1);

# C souce files
my @source_files = qw(
  mylib1_source1.c
  mylib1_source2.c
);

$config->add_source_file(@source_files);

$config->{_test_base_env} = [$ENV{SPVM__TestCase__Resource__Mylib1__ARGV1} = 'args1', $ENV{SPVM__TestCase__Resource__Mylib1__ARGV2} = 'args2'];

$config;
