my $config_exe = SPVM::Builder::Config::Exe->new;

$config_exe->add_lib_dir('../..');

$config_exe->add_lib('m');

$config_exe->add_before_link_cb(sub {
  my ($config_exe, $link_info) = @_;
  
  $main::MYEXE_LINK_INFO = $link_info;
});

$config_exe->add_before_compile_cb_global(sub {
  my ($config_exe, $compile_info) = @_;
  
  $main::MYEXE_COMPILE_INFO_GLOBAL_BEFORE_COMPILE ||= $compile_info;
});

$ENV{SPVM__TEST__MYAPP__EXE} = 1;

$config_exe->use_resource('TestCase::Resource::Mylib1');
$config_exe->use_resource('TestCase::Resource::Mylib2');

$config_exe->add_ldflag('-pthread');

if ($^O eq 'MSWin32') {
  $config_exe->add_static_lib('stdc++', 'winpthread', 'gcc');
}
else {
  $config_exe->add_lib('stdc++');
}

if (@ARGV) {
  warn "[Test Output]\@ARGV : @ARGV";
}

$config_exe;
