use File::Basename 'dirname';

my $config_exe = SPVM::Builder::Config::Exe->new;

my $config_dir = dirname __FILE__;

$config_exe->use_spvm_archive("$config_dir/../.spvm_build/.tmp/spvm-archive-myapp");

$config_exe->add_lib('spvmcc_archive_test');

if ($^O eq 'MSWin32') {
  $config_exe->add_static_lib('stdc++', 'winpthread', 'gcc');
}
else {
  $config_exe->add_lib('stdc++');
}

$config_exe;
