use strict;
use warnings;

use SPVM::Builder::Config;

my $config = SPVM::Builder::Config->new_c99;

# Do not removed. This is used in t/02_vm/06_native_api/native_api_cached.t.
if ($ENV{SPVM_TEST_CONFIG_FORCE}) {
  $config->force(1);
}

$config->optimize('-O2');

$config->add_source_file('foo.c', 'bar.c', 'baz/baz.c');

$config->use_resource('TestCase::Resource::Mylib1');

$config;
