use strict;
use warnings;

use SPVM::Builder::Config;
my $config = SPVM::Builder::Config->new_cpp11(file => __FILE__);

$config->add_ccflag('-pthread');
$config->add_ldflag('-pthread');

if ($^O eq 'MSWin32') {
  $config->add_static_lib('stdc++', 'winpthread', 'gcc');
}
else {
  $config->add_lib('stdc++');
}

my @source_files = qw(
  mylib.cpp
);
$config->add_source_file(@source_files);

$config;
