use strict;
use warnings;

use SPVM::Builder::Config;

my $config = SPVM::Builder::Config->new_gnu99(file => __FILE__);;

$config->force(1);

$config->add_after_create_compile_info_cb(sub {
  my ($config, $compile_info) = @_;
  
  warn "[Test Output]Call add_after_create_compile_info_cb $config $compile_info";
});

$config->add_after_create_link_info_cb(sub {
  my ($config, $link_info) = @_;
  
  warn "[Test Output]Call add_after_create_link_info_cb $config $link_info";
});

$config->add_before_link_cb(sub {
  my ($config, $link_info) = @_;
  
  $main::NATIVE_API_LINK_INFO = $link_info;
});

$config;
