use strict;
use warnings;

use SPVM::Builder::Config;
my $config = SPVM::Builder::Config->new_cpp11(file => __FILE__);

$config->add_ccflags('-pthread');
$config->add_ldflags('-pthread');

if ($^O eq 'MSWin32') {
  $config->add_static_libs('stdc++', 'winpthread', 'gcc');
}
else {
  $config->add_libs('stdc++');
}

my @source_files = qw(
  mylib.cpp
);
$config->add_source_files(@source_files);

$config;
