/spvm
/libspvm.a
core.*
core
*.output
*.tmp
*.o
*.bs
blib/*
*.old
MYMETA.yml
/Makefile
pm_to_blib
MYMETA.json
SPVM.c
*.bak
*.old
*.tar.gz
SPVM-*/
*.tar
.spvm_build/*
!.spvm_build/.gitkeep
t/.spvm_build/*
!t/.spvm_build/.gitkeep
solo/work/*
solo/Makefile
t/precompile/*
spvmcc_build/*
!spvmcc_build/.gitkeep
t/test_files_tmp/*
!t/test_files_tmp/.gitkeep
t/default/.spvm_build/*
!t/default/.spvm_build/.gitkeep
t/exe/.spvm_build/*
!t/exe/.spvm_build/.gitkeep
UseAllModule.spvm
SPVM.def
.spvm_build
.vscode