/spvm
/libspvm.a
core.*
*.output
*.tmp
*.o
*.bs
blib/*
*.old
MYMETA.yml
/Makefile
pm_to_blib
MYMETA.json
SPVM.c
*.bak
*.old
/solo/objs/*
!/solo/objs/.gitkeep
!/solo/objs/solo
/solo/objs/solo/*
!/solo/objs/solo/.gitkeep
!/solo/objs/solo/t
/solo/objs/solo/t/*
!/solo/objs/solo/t/.gitkeep
*.tar.gz
SPVM-*/
*.tar
solo/jitcode/*
!solo/jitcode/.gitkeep
spvm_build/*
!spvm_build/.gitkeep
t/spvm_build/*
!t/spvm_build/.gitkeep
solo/t/spvm_t_hash
solo/t/spvm_t_list
solo/spvm_main
solo/Makefile
t/precompile
