/spvm
/libspvm.a
core.*
*.output
*.tmp
*.o
*.bs
blib/*
*.old
MYMETA.yml
/Makefile
pm_to_blib
MYMETA.json
SPVM.c
*.bak
*.old
/solo/objs/*
!/solo/objs/.gitkeep
!/solo/objs/solo
/solo/objs/solo/*
!/solo/objs/solo/.gitkeep
!/solo/objs/solo/t
/solo/objs/solo/t/*
!/solo/objs/solo/t/.gitkeep
*.tar.gz
SPVM-*/
*.tar
.spvm_build/*
t/.spvm_build/*
solo/t/spvm_t_hash
solo/t/spvm_t_list
solo/main
solo/Makefile
t/precompile/*
t/test_files_tmp/*
!t/test_files_tmp/.gitkeep
SPVM.def
