use strict;
use warnings;
use SPVM::Builder::Config;

my $config = SPVM::Builder::Config->new_cpp(file => __FILE__);

$config->std('c++11');

if ($^O eq 'MSWin32') {
  $config->add_static_lib('stdc++', 'winpthread', 'gcc');
}
else {
  $config->add_lib('stdc++');
}

$config->add_ldflag('-pthread');

$config;
