use strict;
use warnings;

use SPVM::Builder::Config;

my $config = SPVM::Builder::Config->new_gnu99;

$config->use('Unicode');

$config->optimize('-O2');

if ($ENV{SPVM_TEST_CONFIG_FORCE}) {
  $config->force(1);
}

$config->before_link(sub {
  my ($config, $link_info) = @_;
  
  $main::NATIVE_API2_LINK_INFO = $link_info;
});

$config->add_source_files('foo.c', 'bar.c', 'baz/baz.c');

$config;
