use strict;
use warnings;
use Data::Dumper;

use SPVM::Builder::Config;

my $config = SPVM::Builder::Config->new_gnu99;

$config->use('Unicode');

$config->optimize('-O2');

if ($ENV{SPVM_TEST_CONFIG_FORCE}) {
  $config->force(1);
}

$config->before_link(sub {
  my ($config, $link_info) = @_;
  
  my $object_file_infos = $link_info->object_file_infos;
  
  warn Dumper $object_file_infos;
  
  return $object_file_infos;
});

$config->add_source_files('foo.c', 'bar.c', 'baz/baz.c');

$config;
