use strict;
use warnings;
use Data::Dumper;
use FindBin;
use File::Basename 'dirname';

use lib dirname(__FILE__) . "/../02_vm/lib";

use SPVM::Builder::Config::Exe;

my $config = SPVM::Builder::Config::Exe->new_c99(file => __FILE__);

$config->add_lib_dir('.');

$config->add_lib('m');

$config->add_before_link_cb(sub {
  my ($config, $link_info) = @_;
  
  $main::MYEXE_LINK_INFO = $link_info;
});

$config->add_before_each_compile_cb(sub {
  my ($config, $compile_info) = @_;
  
  $main::MYEXE_COMPILE_INFO_GLOBAL_BEFORE_COMPILE ||= $compile_info;
});


$config->use_resource('TestCase::Resource::Mylib1');
$config->use_resource('TestCase::Resource::Mylib2');

$config;
