use strict;
use warnings;

use SPVM::Builder::Config::Exe;

my $exe_config = SPVM::Builder::Config::Exe->load_base_config(__FILE__);

$exe_config->add_define_global("SPVM_DEBUG_MEMORY");

$exe_config->add_global_before_compile_cb(sub {
  my ($config, $compile_info) = @_;
  
  $compile_info->config->add_define("FOR_TEST1");
});

$exe_config->add_define_spvm("FOR_TEST2");

$exe_config->optimize("-O0");

$exe_config->optimize_spvm("-O0");

$exe_config->optimize_native("-O0");

$exe_config->optimize_native_class("TestCase", "-O0");

$exe_config->optimize_precompile("-O0");

$exe_config;
