my $config_global = SPVM::Builder::Config::Exe->load_base_config(__FILE__);

$config_global->add_before_compile_cb(sub {
  my ($compile_info) = @_;
  
  my $config = $compile_info->config;
  
  $config->add_define("FOR_TEST1");
  $config->add_define("SPVM_DEBUG_MEMORY");
});

$config_global->add_before_compile_cb(sub {
  my ($compile_info) = @_;
  
  my $config = $compile_info->config;
  
  if ($config->category eq 'spvm_core') {
    $config->add_define("FOR_TEST2");
  }
});

$config_global->build_type('Debug');

$config_global;
