use strict;
use warnings;

use SPVM::Builder::Config::Exe;

my $exe_config = SPVM::Builder::Config::Exe->load_base_config(__FILE__, []);

# $exe_config->add_ccflag("-DSPVM_DEBUG_MEMORY");

$exe_config->add_global_before_compile_cb(sub {
  my ($config, $compile_info) = @_;
  
  $compile_info->config->add_define("SPVM_DEBUG_MEMORY");
});

$exe_config;
