use Carp 'confess';

my $config = SPVM::Builder::Config->new_c99;;

# Check if utf8 pragma is enabled
{
  my $string = "あ";
  unless (utf8::is_utf8 $string) {
    die "utf8 pragma must be enabled in a config file.";
  }
}

$config->add_ccflag("-DMY_CCFLAG");

$config->add_define("MY_DEFINE");

$config->add_include_dir("/include dir with space");

$config->add_lib_dir("/lib dir with space");

$config->add_before_compile_cb(sub {
  my ($config, $compile_info) = @_;
  
  my $command_string = $compile_info->create_command_string;
  
  unless ($command_string =~ /-DMY_CCFLAG/) {
    confess("[Fail Runtime Test]'$command_string' must contains -DMY_CCFLAG.");
  }
  
  unless ($command_string =~ /-DMY_DEFINE/) {
    confess("[Fail Runtime Test]'$command_string' must contains -MY_DEFINE.");
  }
});

$config;
