my $config = SPVM::Builder::Config->new_c99;;

# Check if utf8 pragma is enabled
{
  my $string = "あ";
  unless (utf8::is_utf8 $string) {
    die "utf8 pragma must be enabled in a config file.";
  }
}

$config->add_include_dir("/include dir with space");

$config->add_lib_dir("/lib dir with space");

$config;
