use strict;
use warnings;

my $config = SPVM::Builder::Config->new(file => __FILE__);

# Compiler
$config->cc('nvcc');
$config->thread_ccflags([]);
$config->dynamic_lib_ccflags([]);
$config->add_ccflag(q(--compiler-options '-fPIC'));
$config->ext('cu');

# Linker
$config->ld('nvcc');
$config->add_ldflag(q(--compiler-options '-fPIC'));

=pod

nvcc -c --compiler-options '-fPIC' -o call.o call.cu
nvcc -c --compiler-options '-fPIC' -o test.o test.cu
nvcc --compiler-options '-fPIC' -o call.so -shared call.o test.o

=cut

$config;
