use strict;
use warnings;

my $config = SPVM::Builder::Config->new(file => __FILE__);

# Compiler and Linker common
$config->set_cccdlflags(q(--compiler-options '-fPIC'));

# Compiler
$config->cc('nvcc');
$config->ccflags('');
$config->ext('cu');

# Linker
$config->ld('nvcc');
$config->ldflags('-shared');

# If Debug, set 0
#$config->quiet(0);



=pod
nvcc -c --compiler-options '-fPIC' -o call.o call.cu
nvcc -c --compiler-options '-fPIC' -o test.o test.cu
nvcc --compiler-options '-fPIC' -o call.so -shared call.o test.o
=cut

$config;
