use strict;
use warnings;

my $bconf = SPVM::Builder::Config->new;

# Compiler and Linker common
$bconf->set_cccdlflags(q(--compiler-options '-fPIC'));

# Compiler
$bconf->cc('nvcc');
$bconf->ccflags('');
$bconf->ext('cu');

# Linker
$bconf->ld('nvcc');
$bconf->ldflags('-shared');

# If Debug, set 0
#$bconf->quiet(0);



=pod
nvcc -c --compiler-options '-fPIC' -o call.o call.cu
nvcc -c --compiler-options '-fPIC' -o test.o test.cu
nvcc --compiler-options '-fPIC' -o call.so -shared call.o test.o
=cut

$bconf;
