use strict;
use warnings;

use SPVM::Builder::Config;
my $bconf = SPVM::Builder::Config->new_c99;

# Compiler options
$bconf->add_ccflags('-fopenmp');

# Linker option
my $lib_dirs = $bconf->search_lib_dirs;
$bconf->add_ldflags('-fopenmp');
$bconf->add_lib_dirs(@$lib_dirs);
$bconf->add_libs('gomp');
$bconf->add_runtime_libs('gomp');

$bconf;
