use strict;
use warnings;

use SPVM::Build::Util;

# You can use SPVM default setting

my $default_config = SPVM::Build::Util::default_config();
my $default_quiet = SPVM::Build::Util::default_quiet();
my $default_extra_compiler_flag = SPVM::Build::Util::default_extra_compiler_flags();
my $default_optimize = SPVM::Build::Util::default_optimize();
my $default_extra_linker_flags = SPVM::Build::Util::default_extra_linker_flags();

{
  new => {
    quiet => $default_quiet, config => $default_config
  },
  compile => {
    extra_conpile_flag => $default_extra_compiler_flag,
    optimize => $default_optimize
  },
  link => {
    extra_linker_flags => $default_extra_linker_flag
  },
}
