use File::Basename 'basename', 'dirname';
use Carp 'confess';

use SPVM::Builder::Config::DLL;

my $config_global = SPVM::Builder::Config::Util::load_base_config(__FILE__);

$config_global = SPVM::Builder::Config::DLL->new_with_config($config_global);

$config_global->init;

$config_global->add_after_link_cb(sub {
  my ($config_global) = @_;
  
  my $output_file = $config_global->output_file;
  
  my $output_dir = dirname $output_file;
  
  my $output_file_base = basename $output_file;
  
  my $perl_script_file_base = ($output_file_base =~ s/\..*$//r) . '.pl';
  
  my $perl_script_file = "$output_dir/$perl_script_file_base";
  
  open my $perl_fh, '>', $perl_script_file
    or confess("Cannot open file '$perl_script_file':$!");
  
  my $perl_script = <<"EOS";
use strict;
use warnings;
use Carp 'confess';
use DynaLoader;

my \$dl_error;

my \$output_file = '$output_file';

my \$dynamic_lib_libref = DynaLoader::dl_load_file(\$output_file);
\$dl_error = DynaLoader::dl_error();
unless (\$dynamic_lib_libref) {
  confess("Cannot load dynamic link library '\$output_file':\$dl_error");
}
my \$cfunc_name = 'main';
my \$cfunc_address = DynaLoader::dl_find_symbol(\$dynamic_lib_libref, \$cfunc_name);
\$dl_error = DynaLoader::dl_error();
unless (\$cfunc_address) {
  confess("Cannot find symbol '\$cfunc_name' in dynamic link file '\$output_file':\$dl_error");
}

my \$func_name = 'main';

my \$cb = DynaLoader::dl_install_xsub(\$func_name, \$cfunc_address, \$output_file)

\$cb->('args1', 'args2');

EOS
  
  print $perl_fh $perl_script;
});

$config_global;
