my $config_global = SPVM::Builder::Config::Exe->new;

$config_global->add_lib_dir('../..');

$config_global->add_lib('m');

$config_global->build_type('Debug');

$config_global->add_before_link_cb(sub {
  my ($config, $link_info) = @_;
  
  unless ($link_info->config == $config) {
    die;
  }
  
  $main::MYAPP_LINK_INFO_BEFORE_LINK_CB = $link_info;
});

$config_global->add_before_compile_cb(sub {
  my ($config, $compile_info) = @_;
  
  unless ($compile_info->config == $config) {
    die;
  }
  
  $main::MYAPP_COMPILE_INFO_BEFORE_COMPILE_CB ||= $compile_info;
});

$ENV{SPVM__TEST__MYAPP__EXE} = 1;

$config_global->use_resource('TestCase::Resource::Mylib1');
$config_global->use_resource('TestCase::Resource::Mylib2');

if (@ARGV) {
  warn "[Test Output]\@ARGV : @ARGV";
}

$config_global;
