my $config_global = SPVM::Builder::Config::Exe->new;

$config_global->add_lib_dir('../..');

$config_global->add_lib('m');

$config_global->build_type('Release');

$config_global->add_before_link_cb(sub {
  my ($config_global, $link_info) = @_;
  
  $main::MYEXE_LINK_INFO = $link_info;
});

$config_global->add_before_compile_cb(sub {
  my ($config_global, $compile_info) = @_;
  
  $main::MYEXE_COMPILE_INFO_GLOBAL_BEFORE_COMPILE ||= $compile_info;
});

$ENV{SPVM__TEST__MYAPP__EXE} = 1;

$config_global->use_resource('TestCase::Resource::Mylib1');
$config_global->use_resource('TestCase::Resource::Mylib2');

if (@ARGV) {
  warn "[Test Output]\@ARGV : @ARGV";
}

$config_global;
