use strict;
use warnings;

use SPVM::Builder::Config;

my $config = SPVM::Builder::Config->new_c99(file => __FILE__);

my $lib_dirs_cc_info = $config->search_lib_dirs_from_cc_info;
my $lib_dirs_config_libpth = $config->search_lib_dirs_from_config_libpth;

$config->add_lib_dirs(@$lib_dirs_config_libpth, @$lib_dirs_cc_info);

$config->add_libs('z');

$config;
