	* {
	  padding:0;
	  margin:0;
	}
	body {
	}
	.container {
	  width:100%;
	  max-width:960px;
	  margin:0px auto;
	}
	p {
	  line-height:155%;
	  padding:6px 15px 6px 15px;
	  color:#333;
	  font-size:16px;
	}
	table {
	  border-collapse:collapse;
	  border-spacing:0px;
	  margin:5px 15px 15px 15px;
	}
	tr {
	
	}
	th {
	  border:1px solid #99b;
	  padding:7px 15px 5px 15px;
	  background:#eef;
	}
	td {
	  border:1px solid #99b;
	  padding:7px 15px 5px 15px;
	}
	h1 {
	  color:#333;
	  font-size:26px;
	}
	h1 img {
	  vertical-align:-19px;
	}

	hr {
	  background:blue;
	}
	.header {
	  padding:10px 0;
	  border-bottom:1px solid #0e78d3;
	}
	a {
	  color:blue;
	}
	a:visited {
	  color:blue;
	}
	ul {
	  list-style:none;
	}

	h2 {
	  background:#1d41c4;
	  color:white;
	  padding:5px 12px 2px 12px;
	  font-size:21px;
	  margin-top:5px;
	  margin-bottom:18px;
	}

	h3 {
	  margin:12px 0 7px 5px;
	  border-left:6px solid #ff7708;
	  padding:2px 3px 0px 7px;
	  font-size:19px;
	}
	h4 {
	  letter-spacing:2px;
	  margin:15px 0 5px 5px;
	  font-size:18px;
	}
	h5 {
	  font-size:15px;
	  font-weight:bold;
	  letter-spacing:1px;
	  margin:15px 0 5px 10px;
	}
	.footer {
	  padding:22px 0;
	  border-top:1px solid #0e78d3;
	  text-align:center;
	}
	.footer a {
	  text-decoration:none;
	  letter-spacing:1px;
	}
	.footer :visited {
	  color:inherit;
	}
	pre {
	  border:1px solid #ffbd7c;
	  background:#fffdfc;
	  padding:15px 10px;
	  border-radius:5px;
	  margin:10px 10px 15px 10px;
	  line-height:120%;
	  color:#333;
	  font-size:15px;
	}
	.toc {
	  padding:0px 12px 10px 12px;
	}
	.toc li{
	  background:url(/images/list-arrow.png) no-repeat;
	  background-position:4px;
	  background-size:18px;
	  padding-left:30px;
	  line-height:180%;
	  letter-spacing:2px;
	  font-size:17px;
	}

	.list {
	  padding:0px 12px 10px 12px;
	}
	.list li{
	  list-style:disc;
	  background-position:4px;
	  background-size:18px;
	  padding-left:0px;
	  line-height:160%;
	  letter-spacing:2px;
	  font-size:17px;
	  margin-left:26px;
	}

  .to-top {
    color:white;
    background:#93b7ff;
    padding:8px 10px;
    border-radius:3px;
    position:fixed;
    right:20px;
    bottom:20px;
    opacity:0.7;
    
  }
  