use strict;
use warnings;

use SPVM::Builder::Config;
use SPVM::Builder::Resource;

my $config = SPVM::Builder::Config->new_c99;;

$ENV{SPVM__TestCase__Resource__Mylib1__ARGV1} = 'args1';

$ENV{SPVM__TestCase__Resource__Mylib1__ARGV2} = 'args2';

$config->use_resource('TestCase::Resource::Mylib1');

my $resource = $config->get_resource('TestCase::Resource::Mylib1');

$main::TEST_USE_RESOURCE_RET = $resource;

$config;
