use strict;
use warnings;
use Data::Dumper;
use FindBin;
use File::Basename 'dirname';

use lib dirname(__FILE__) . "/../default/lib";

use SPVM::Builder::Config::Exe;

my $config = SPVM::Builder::Config::Exe->new_gnu99(file => __FILE__);

$config->add_lib_dirs('.');

$config->add_libs('m');

$config->before_link(sub {
  my ($config, $link_info) = @_;
  
  $main::MYEXE_LINK_INFO = $link_info;
});

$config->global_before_compile(sub {
  my ($config, $compile_info) = @_;
  
  $main::MYEXE_COMPILE_INFO_GLOBAL_BEFORE_COMPILE ||= $compile_info;
});


$config->use_resource('TestCase::Resource::Mylib1::V1_0_0');
$config->use_resource('TestCase::Resource::Mylib2::V1_0_0');

$config;
