use strict;
use warnings;
use Data::Dumper;

use SPVM::Builder::Config::Exe;

my $config = SPVM::Builder::Config::Exe->new_gnu99;

$config->add_lib_dirs('.');

$config->add_libs('m');

$config->before_link(sub {
  my ($config, $objects) = @_;
  
  warn Dumper $objects;
  
  return $objects;
});

$config;
